/* vvv Custom Slider Style vvv */
.slider {
    position: relative;
    background: #ddd;
    width: 300px;
    height: 6px;
    cursor: pointer;
}

.slider-track {
    position: absolute;
    background: #ddd;
    width: 100%;
    height: 100%;
}

.slider-thumb {
    position: absolute;
    background: red;
    width: 18px;
    height: 18px;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    cursor: grab;
}

.slider-thumb:active {
    cursor: grabbing;
}

/* ^^^ Custom Slider Style ^^^ */

body {
    margin: 0;
    padding: 0;
    background: #1C1C1C;
    color: white;
}

#container {
    margin: 16px;
}

#file-actions {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 16px;
}

#audio-slider {
    width: 100%;
    height: 12px;
}

#audio-slider-thumb {
    height: 24px;
    width: 12px;
}