body {
    margin: 0;
    padding: 0;
    background: #1C1C1C;
    color: white;
}

#container {
    margin: 16px;
}

#file-actions {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 16px;
}