/* vvv Custom Slider Style vvv */
.slider {
    position: relative;
    background: #ddd;
    width: 300px;
    height: 6px;
}

.slider-track {
    position: absolute;
    background: #ddd;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.slider-thumb {
    position: absolute;
    background: red;
    width: 18px;
    height: 18px;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    cursor: grab;
}

.slider-thumb:active {
    cursor: grabbing;
}

/* ^^^ Custom Slider Style ^^^ */

body {
    margin: 0;
    padding: 0;
    background: #1C1C1C;
    color: white;
}

#container {
    margin: 16px;
}

#file-actions {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 16px;
}

header {
    margin-bottom: 128px;
}

#audio-slider-container {
    background: #111;
    width: 100%;
    padding: 16px;
    align-items: center;
    box-sizing: border-box;
}

#audio-slider-controls {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

#audio-slider-controls-actions button{
    font-size: 12px;
}

#audio-slider-controls-timeline {
    display: flex;
    gap: 8px;
    justify-content: center;
}

#audio-slider-controls-timeline p {
    padding: 0;
    margin: 0;
    font-size: 12px;
    user-select: none;
}

#audio-slider {
    width: 100%;
    height: 12px;
}

#audio-slider-thumb {
    height: 24px;
    width: 12px;
}

#guide-thumb {
    position: absolute;
    background: rgba(155, 210, 255, 0.25);
    height: 48px;
    width: 2px;
    z-index: -999;
    top: 36px;
    left: 50%;
    pointer-events: none;
}

.sub-marker {
    position: absolute;
    background: greenyellow;
    width: 6px;
    height: 24px;
    left: 0;
    top: 32px;
    transform: translateX(-50%);
    cursor: pointer;
}

.sub-marker-unfinished {
    background: orange;
}

.sub-marker-active {
    background: white;
}

#subtitles-markers-container {
    background: #111;
    margin-bottom: 12px;
}

#subtitles-markers-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#subtitles-markers-list li {
    display: flex;
    gap: 6px;
}

#subtitles-markers-list li p {
    font-size: 12px;
    margin: 0;
    padding: 0;
}