/* vvv Custom Slider Style vvv */
.slider {
    position: relative;
    background: #403D39;
    width: 300px;
    height: 6px;
    user-select: none;
}

.slider-track {
    position: absolute;
    background: #403D39;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.slider-thumb {
    position: absolute;
    background: red;
    width: 18px;
    height: 18px;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    cursor: grab;
}

.slider-thumb:active {
    cursor: grabbing;
}

/* ^^^ Custom Slider Style ^^^ */

button {
    border-radius: 4px;
    border: none;
    padding: 4px 8px;
}

body {
    margin: 0;
    padding: 0;
    background: #1a1a1a;
    color: white;
}

#filename {
    display: flex;
    gap: 4px;
    margin-bottom: 8px;
}

#filename-ext {
    padding: 0;
    margin: 0;
}

#container {
    margin: 16px 16px;
}

main {
    width: 100%;
}

.top-nav {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 4px;
}

#export-button {
    margin-left: 8px;
}

header {
    background: #0e0e0e;
    padding: 16px;
    margin-bottom: 92px;
}

#audio-slider-container {
    background: #0e0e0e;
    width: 100%;
    padding: 16px;
    align-items: center;
    box-sizing: border-box;
    user-select: none;
}

#audio-slider-controls {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

#audio-slider-controls-actions {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-right: 32px;
}

#audio-slider-controls-actions button{
    font-size: 12px;
}

#audio-slider-controls-timeline {
    display: flex;
    gap: 8px;
    justify-content: center;
}

#audio-slider-controls-timeline p {
    padding: 0;
    margin: 0;
    font-size: 12px;
    user-select: none;
}

#audio-slider {
    width: 100%;
    height: 12px;
}

#audio-slider-thumb {
    height: 24px;
    width: 12px;
}

#guide-thumb {
    position: absolute;
    background: rgba(155, 210, 255, 0.5);
    height: 48px;
    width: 1px;
    z-index: -999;
    top: 36px;
    left: 50%;
    pointer-events: none;
}

.sub-marker {
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    top: 36px;
    transform: translateX(-50%);
    cursor: pointer;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 24px solid greenyellow;
    background: transparent;
}

.sub-marker-unfinished {
    border-bottom-color: orange;
}

.sub-marker-active {
    border-bottom-color: white;
    
}

.duration-guide {
    position: absolute;
    background: rgb(0, 255, 234);
    width: 32px;
    height: 1px;
    left: 0;
    top: 36px;
    pointer-events: none;
    z-index: -4;
}

#subtitles-markers-container {
    display: grid;
    grid-template-columns: 60% auto;
    gap: 12px;
    background: #0e0e0e;
    margin-bottom: 12px;
    min-height: 300px;
    max-height: 300px;
    box-sizing: border-box;
    padding: 12px;
}

#subtitles-markers-controls {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

#subtitles-markers-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    max-height: 276px;
}

#subtitles-markers-list li {
    display: flex;
    gap: 6px;
    margin-bottom: 6px;
}

#subtitles-markers-list li p {
    font-size: 12px;
    margin: 0;
    padding: 0;
}

.list-subtitle {
    user-select: none;
    cursor: pointer;
}

.list-subtitle-count {
    color: gray;
}

.list-subtitle-timer {
    cursor: pointer;
    height: 100%;
    color: rgb(153, 153, 153);
}

.list-subtitle-text {
    cursor: pointer;
}

@keyframes subItemActivated {
    0% {
        background: rgb(151, 151, 150);
    }

    100% {
        background: #3f3e3e;
    }
}

.list-subtitle-active {
    background: #3f3e3e;
    animation: subItemActivated 0.5s;
}

.subtitle-control label{
    font-size: 14px;
}

.subtitle-control input {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 12px;
}

#timers-controls {
    display: flex;
    gap: 8px;
}

#subtitles-viewer {
    background: #0e0e0e;
    margin-top: 64px;
    text-align: center;
    padding: 8px;
    opacity: 0%;
}

#subtitle-viewer-text {
    padding: 0;
    margin: 0;
}

footer {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    bottom: 0;
    width: 100%;
    height: 64px;
    background: #0e0e0e;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    padding-inline: 16px;
}

#source-code {
    font-size: 14px;
    justify-self: flex-start;
    color: white;
    text-underline-offset:2px;
}

#app-title {
    font-size: 18px;
    justify-self: center;
}

#creator {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 14px;
    justify-self: flex-end;
}

#creator p {
    margin: 0;
    padding: 0;
    margin-right: 8px;
}

.creator-social-wrapper {
    padding: 0;
    margin: 0;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.creator-social {
    width: 24px;
    height: 24px;
    margin: 0;
    padding: 0;
    filter: invert(100%) sepia(99%) saturate(0%) hue-rotate(231deg) brightness(107%) contrast(100%);
}